# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.log
.venv/
venv/
ENV/
env/

# --- IDEs ---
.idea/
.vscode/
*.iml

# --- OS junk ---
.DS_Store
Thumbs.db

# --- Images ---
*.png
*.jpg
*.jpeg
*.bmp
*.tiff
*.tif
*.gif
*.ppm
*.pgm
*.pbm
*.webp

# --- Virtual environments ---
.env